{{- define "main" -}}

{{/* Author profile page. */}}

{{/* If an account has not been created for this user, just display their name as the title. */}}
{{ if not .File }}
<div class="universal-wrapper pt-3">
  <h1>{{ .Title }}</h1>
</div>
{{ end }}

<section id="profile-page" class="pt-5">
  <div class="container">
    {{/* Show the About widget if an account exists for this user. */}}
    {{ if .File }}
      {{ $widget := "widgets/about.html" }}
      {{ $username := (path.Base (path.Split .Path).Dir) }}{{/* Alternatively, use `index .Params.authors 0` */}}
      {{ $params := dict "root" $ "page" . "author" $username }}
      {{ partial $widget $params }}
    {{end}}

    {{ $query := where .Pages ".IsNode" false }}
    {{ $count := len $query }}
    {{ if $count }}
    <div class="article-widget content-widget-hr">
      <h3>{{ i18n "user_profile_latest" | default "Latest" }}</h3>

<!--If there is any recent news, show the heading once, and then the pieces.--> 
        {{ range (first 1 (where $query "Section" "post" )) }}
        <h3> Recent News </h3>
        {{ end }}
        
        {{ range (where $query "Section" "post" ) }}
        <li style="list-style-type:none"><a href="{{ .RelPermalink }}">{{ .Type | title}}: {{ .Title }}</a></li>
         {{ end }}

<!--If there are any projects, show the heading once, then range through the projects and display title.-->       
        {{ range (first 1 (where $query "Section" "project" )) }}
        <br>
        <h3> Projects </h3> 
        {{ end }}
        
        {{ range (where $query "Section" "project" ) }}
        <li style="list-style-type:none"><a href="{{ .RelPermalink }}">{{ .Type | title}}: {{ .Title }}</a></li>
         {{ end }} 

<!--If there are any methods, show the heading once, then range through the projects and display title.-->   
        {{ range (first 1 (where $query "Section" "methods" )) }}
        <br>
          <h3> Methods </h3>
          {{ end }}
          
          {{ range (where $query "Section" "methods" ) }}
          <li style="list-style-type:none"><a href="{{ .RelPermalink }}">{{ .Type | title}}: {{ .Title }}</a> </li>
          {{ end }}

<!--If there are is any teaching, show the heading once, and then loop.-->  
        {{ range (first 1 (where $query "Section" "teaching" )) }}
         <br>
        <h3> Teaching </h3>
        {{ end }}
        
        {{range (where $query "section" "teaching" ) }}
        <li style="list-style-type:none"><a href="{{ .RelPermalink }}">{{ .Type | title}}: {{ .Title }}</a></li>
         {{ end }}

<!--If there are any publications, show the heading once, and the first 10 publications.-->  
          {{ range (first 1 (where $query "Section" "publication" )) }}
          <br>
        <h3> Recent Publications </h3>
        {{ end }}
        {{ range (first 10 (where $query "Section" "publication" )) }}
         <li style="list-style-type:none"><a href="{{ .RelPermalink }}">{{ .Type | title}}: {{ .Title }}</a> </li>
         {{ end }}
<!--End of showing user stuff, close the div and the loop-->
    </div>
    {{ end }}
  </div>
</section>

{{- end -}}